@import "../../scss/utils/mixins.scss";
@import "../../scss/utils/variables.scss";
.error404 {
    @include flex-column();
    justify-content: space-around;
    align-items: center;
    color: map-get($map: $colors, $key:couleurPrimaire );

    &__error {
        @include flex-column;
        align-items: center;
        padding: 0 1rem 0;
        &__404 {
            font-size: 288px;
            @include mobile(){
                font-size: 144px;
            }
            @include tablette(){
                font-size: 216px;
            }
        }

        &__description {
            font-weight: 500;
            font-size: 36px;
            text-align: center;
            @include mobile(){
                font-size: 26px;
                width: 20rem;
            }
            @include tablette(){
                font-size: 30px;
            }
        }
    }

    &__redirection {
        color: map-get($map: $colors, $key:couleurPrimaire );
        font-size: 18px;
        text-decoration: underline;
        margin: 10rem 0 10rem;
        @include mobile(){
            margin: 5rem 0 5rem;
        }
    }

}