@import "../../scss/utils/mixins.scss";
@import "../../scss/utils/variables.scss";
.error404 {
    @include flex-column();
    justify-content: space-around;
    row-gap: 8rem;
    align-items: center;
    color: #FF6060;

    &__error {
        @include flex-column;
        align-items: center;
        &__404 {
            font-size: 288px;
        }

        &__description {
            font-size: 36px;
        }
    }

    &__redirection {
        color: #FF6060;
        font-size: 18px;
        text-decoration: underline;
    }

}