@import "../../scss/utils/mixins.scss";
@import "../../scss/utils/variables.scss";

.bannerAbout {
    background: rgba(0, 0, 0, 0.3) url("../../assets/bannerAbout.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    height: 14rem;
    border-radius: 25px;
    margin: map-get($map: $espacements, $key: bodyMargin);

    @include mobile() {
        background: url("../../assets/bannerAboutPhone.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 18rem;
    }

    @include tablette(){
        height: 16rem;
    }


}