@import "../../scss/utils/mixins.scss";
@import "../../scss/utils/variables.scss";

.hostContainer {
    display: flex;
    align-items: center;
    column-gap: 1rem;

    &__name {
        color: map-get($map: $colors, $key: couleurPrimaire);
        font-weight: 500;
        font-size: 18px;
        line-height: 142.6%;
    }

    &__img {

        img {
            border-radius: 50%;
            @include mobile(){
                width: 3rem;
                height: 3rem;
            }
            @include tablette(){
                width: 3.5rem;
                height: 3.5rem;
            }
            @include desktop(){
                width: 4rem;
                height: 4rem;
            }
        }
    }
}