@import "../../scss/utils/mixins.scss";
@import "../../scss/utils/variables.scss";

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3) url("../../assets/banner.png");
    background-blend-mode: darken;
    height: 223px;
    border-radius: 25px;

    &__container {
        &__text {
            font-weight: 500;
            font-size: 48px;
            color: white;
        }
    }
}